body {
  font-family:'Maitree', serif;
  font-weight:400;
}
h1, h2 {
  color:#e67e22;
  font-weight:400;
  margin:0 auto 16px;
  text-align:center;
}
h2 { font-size:28px; }
p {
  font-size:18px;
  line-height:1.5;
  margin:16px auto;
  max-width:540px;
}
a {
  color:#e67e22;
  text-decoration:none;
}
a:hover {
  color:#e67e22;
}
header {
  background-image:url("mikhail-alexandrov-187882-unsplash.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height:400px;
}
.text-wrap {
  background-color: rgba(0,0,0,0.3);
  box-sizing:border-box;
  height:400px;
  padding:90px 32px 0;
  text-align:center;
}
.site-name {
  /*color:#6C7A89;*/
  border:2px solid #fff;
  border-radius:20px;
  color:#fff;
  display:inline-block;
  font-size:40px;
  padding:80px 30px;
}
section {
  margin:60px auto;
  max-width:600px;
  padding:0 32px;
}
.video {
  height:0;
  margin:30px 0;
  overflow:hidden;
  padding:30px 0 56.25%;
  position:relative;
}
.video iframe, .video object, .video embed {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}
@media (max-width: 600px) {
  .site-name { font-size:30px; }
}
